torch==2.1.2
torchvision==0.16.2
ultralytics==8.2.103
easyocr==1.7.2
mediapipe==0.10.18
opencv-python-headless==4.10.0.84
numpy==1.26.4
pandas==2.2.3
PyYAML==6.0.2
Pillow==10.4.0
tqdm==4.66.5
pytest==8.3.3
ruff==0.6.9
black==24.10.0
